# System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Virtual environments
.venv/

# Environment variables
.env

# Cache directories and files
__pycache__/
*.py[cod]
